.contenedorForm {
  margin: 0 auto;
  width: 95%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

Form {
  width: 30rem;
  border-radius: 2rem;
  padding: 2rem;
  color: black;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  border: 2px solid rgba(210, 210, 200, 0.3);
}

Form h1 {
  margin-bottom: 1rem;
  font-family: RickMorty, Menlo, Monaco, Consolas, 'Courier New', monospace;
  list-style: none;
  font-family: RickMorty;
  font-weight: bold;
  line-height: 1.8;
  color: white;
  font-size: 2rem;
  -webkit-text-stroke: 0.8px rgba(63, 232, 63, 0.5);
}

.campo {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.campo label {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 0.5rem;
  width: 9rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  background-color: rgb(89, 0, 255);
  color: white;
  border: 2px solid rgba(210, 210, 200, 0.5);
}
.campo input {
  border: 2px solid rgba(210, 210, 200, 0.5);
  height: 2.5rem;
  font-size: 1rem;
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.5rem 0.7rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  flex: 1;
}

.campo:last-of-type {
  margin-bottom: 2rem;
}

.myButton {
  align-self: flex-end;
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(89, 0, 255);
  display: block;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.87);
  padding: 0.4rem 1rem;
  margin: 0;
  border: 0;
  transition: 0.2s ease-in-out;
  border: 2px solid rgba(210, 210, 200, 0.5);
}

.myButton:hover {
  background-color: rgba(89, 0, 255, 0.698);
}

.formError {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 2rem;
  width: 100%;
  background-color: rgba(245, 10, 10, 0.8);
  color: white;
  text-transform: uppercase;
}

.registrarse {
  padding: 0.5rem 0 1rem 0;
  color: white;
}

.registrarse a {
  color: rgb(224, 224, 255);
  text-decoration: none;
}
