.searchBar {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  height: auto;
  width: 100%;
  z-index: 5;
  padding: 1rem;
  backdrop-filter: invert(70%);
  border-radius: 0.5rem;
  border: 2px solid rgba(241, 233, 233, 0.681);
  margin-bottom: 1rem;
}

#inputSearch {
  flex-grow: 1;
  border-radius: 0.3rem;
  background-color: antiquewhite;
  color: rgba(0, 0, 0, 0.681);
  padding: 0.2rem;
  min-width: 7rem;
  width: 95%;
}

@media (max-width: 550px) {
  .searchBar {
    flex-direction: column;
    padding: 0.5rem;
  }
}
