.contenedorCards {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 0.2rem 5rem;
}

.cards {
  position: relative;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  scroll-behavior: smooth;
}

.cards card {
  margin-left: 2rem;
}

@media (min-width: 900px) {
  .cards {
    height: 19.5rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d7ced9 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgba(210, 210, 200, 0.2);
  border-radius: 0.3rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #d7ced9;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.arrowDiv {
  margin: 0.2rem;
  width: 100px;
  height: 30px;
  bottom: 40px;
  right: 40px;
  background-color: #004dff;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  border: 1px solid #ffffff;
  transition: 0.5s;
  opacity: 1;
  animation: mover 1s infinite ease-in-out;
}

@keyframes mover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.arrowDiv:hover {
  background-color: #9ab3f0;
}

@media (max-width: 900px) {
  .arrowDiv {
    display: none;
  }
}

.arrowDiv:active {
  background-color: #020cd1;
}

.arrowUp {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  margin: 0 auto;
  border-bottom: 15px solid white;
}

.arrowDown {
  transform: rotate(180deg);
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  margin: 0 auto;
  border-bottom: 15px solid white;
}

.invisible {
  opacity: 0;
}

.arrowDiv:hover .arrowDown,
.arrowDiv:hover .arrowUp {
  border-bottom: 15px solid#020cd1;
}

.headerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tituloCards {
  padding: 0.5rem;
  color: white;
  font-weight: 700;
}
